{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>List leads</h1>

        <div class="main">
            <a href="{% url 'leads:create_lead' %}">Create a new lead</a>
        </div>

        {% for lead in leads %}
            <div class="leads" style="
                padding: 10px 6px 10px 6px;
                margin-top: 10px;
                background-color: rgb(218, 218, 218);
                width: 100%;
            ">
                <a href="{% url 'leads:detail_lead' id=lead.id %}">{{ lead.first_name }} {{ lead.last_name }}</a>
            </div>
        {% endfor %}

    </body>
</html>